
li {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
    color: #666;
    outline: 0;
}

// body {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     height: 100%;
//     // font-size: 14px;
//     // line-height: 1.375;
// }