$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;

/* fade transition */
.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: opacity 200ms linear;
}
.fade-in-linear-enter,
.fade-in-linear-leave-to{
  opacity: 0.3;
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0.3;
}

/* zoom transition */
.zoom-in-center-enter-active,
.zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.zoom-in-center-enter,
.zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.zoom-in-top-enter-active,
.zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}
.zoom-in-top-enter,
.zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-bottom-enter-active,
.zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center bottom;
}
.zoom-in-bottom-enter,
.zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-left-enter-active,
.zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: $--md-fade-transition;
  transform-origin: top left;
}
.zoom-in-left-enter,
.zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45, .45);
}

/* list-enter transition */
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(-30px);
}

/* normal */
.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
.horizontal-collapse-transition {
  transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}
.opacity-transition {
  transition: opacity .3s cubic-bezier(.55,0,.1,1);
}