$component-height: 32px;

$white: #ffffff;
$black: #000000;
$primary-color: #409EFF;    // 主颜色
$success-color: #67C23A;    // 成功颜色
$danger-color: #F56C6C;     // 失败颜色
$warning-color: #E6A23C;     // 警告颜色
$info-color: #909399;     // 普通颜色

$border-color: #E6E6EB;     // 边框颜色
$disabled-color: #c4ccd8;   // 禁用颜色
$input-color: #333333;      // input输入框颜色
$tip-color: #CCCCCC;        // input 提示字符颜色

// mixin
$colors: (primary: $primary-color, success: $success-color, danger: $danger-color, warning: $warning-color, info: $info-color);
